<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="main automation">
    <test name="Regression">
        <classes>
            <class name="cashwise.CashWiseTest"></class>
            <class name="cashwise.CashWiseHomePageTest"></class>
        </classes>
    </test>
</suite>